<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard/view">Life for Homeless </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
   
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-user"></i>
            <% 
              let restaurantName;
              switch (userType) {
                case 1:
                  restaurantName = "Donor";
                  break;
                case 2:
                  restaurantName = "Volunteer";
                  break;
                case 3:
                  restaurantName = "Restaurant";
                  break;
              }
            %>
            <%= restaurantName %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/view">
            <i class="fas fa-tachometer-alt"></i> Dashboard
          </a>
        </li>
        <%if (userType != 3) {%>
        <li class="nav-item">
          <a class="nav-link" href="/updateFood">
            <i class="fas fa-utensils"></i> Update Food
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/displayFoods">
            <i class="fas fa-utensils"></i> Food Availability
          </a>
        </li>
        <%}%>

        <%if (userType == 3) {%>
        <li class="nav-item">
          <a class="nav-link" href="/CreateHPProfile">
            <i class="fas fa-user-plus"></i> Create HP Profile
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/restaurants"
          >
            <i class="fas fa-check-square"></i> Restaurant Availability Check
          </a>
        </li>
        <%}%>      
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-in-alt"></i>Log Out</a>
        </li>
      </ul>
    </div>
  </nav>