<!DOCTYPE html>
<html>
  <head>
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/RestaurantAvailabilityCheck.css" />

    <!-- CUSTOM JS -->
    <script src="../js/RestaurantAvailabilityCheck.js"></script>
  </head>
  <body>
    <%- include('./common/nav') %>
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Feed Quantity</th>
            <th>Food Choice</th>
            <th>Point of Contact (P.O.C.)</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <div id="foodTable"></div>
          <!-- <tr>
            <td>1</td>
            <td>200</td>
            <td>Vegetarian</td>
            <td>John Doe</td>
            <td>New York</td>
          </tr>
          <tr>
            <td>2</td>
            <td>150</td>
            <td>Non-Vegetarian</td>
            <td>Jane Smith</td>
            <td>Los Angeles</td>
          </tr>
          <tr>
            <td>3</td>
            <td>250</td>
            <td>Vegan</td>
            <td>Mike Johnson</td>
            <td>Chicago</td>
          </tr> -->
        </tbody>
      </table>
      <table>
        <% for(var key in foodData) { %>
        <tr>
          <td><%= key %></td>
          <td><%= foodData[key] %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
